.git
.gitignore
.idea
.vscode
*.iml
build/
**/build/
.gradle/
**/.gradle/
out/
**/out/
node_modules/
**/node_modules/
*.bak
*.tmp
Dockerfile
.dockerignore
docker-compose.yml
README.md
CHANGELOG.md
CONTRIBUTING.md
LICENSE
